Repository siewski/store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, helm-chart

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

helm-chart:
  stage: module-pipelines
  trigger:
    include:
    - /infrastructure/k8s/helm-chart/.gitlab-ci.yml
    strategy: depend

Update Login.vue
  frontend/src/views/Login.vue
Due: frontend

Update Profile.vue
  frontend/src/views/Profile.vue
Due: frontend

Update App.vue
  frontend/src/App.vue
Due: frontend

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Update service.yml
  infrastructure/k8s/helm-chart/momo-store/charts/backend/templates/service.yml
Due: helm-chart

Delete configmap.yaml
  infrastructure/k8s/helm-chart/momo-store/charts/frontend/templates/configmap.yaml
Due: helm-chart

Update deployment.yml
  infrastructure/k8s/helm-chart/momo-store/charts/frontend/templates/deployment.yml
Due: helm-chart

Update service.yml
  infrastructure/k8s/helm-chart/momo-store/charts/frontend/templates/service.yml
Due: helm-chart

Update Chart.yaml
  infrastructure/k8s/helm-chart/momo-store/Chart.yaml
Due: helm-chart

Update .gitlab-ci.yml
  infrastructure/k8s/helm-chart/.gitlab-ci.yml
Due: helm-chart

Update main.tf
  infrastructure/terraform/main.tf
Due: none

Update README.md
  README.md
Due: none

Add new directory
  infrastructure/k8s/helm-chart/manifest/.gitkeep
Due: none

Add new file
  infrastructure/k8s/helm-chart/manifest/ingress-monitoring.yml
Due: none

Delete .gitkeep
  infrastructure/k8s/helm-chart/manifest/.gitkeep
Due: none

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  helm-chart: any of: infrastructure/k8s/helm-chart/momo-store/**/*, infrastructure/k8s/helm-chart/.gitlab-ci.yml
