Repository siewski/store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, helm-chart

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

helm-chart:
  stage: module-pipelines
  trigger:
    include:
    - /infrastructure/k8s/helm-chart/.gitlab-ci.yml
    strategy: depend

Update Chart.yaml
  infrastructure/k8s/helm-chart/momo-store/Chart.yaml
Due: helm-chart

Update .gitlab-ci.yml
  infrastructure/k8s/helm-chart/.gitlab-ci.yml
Due: helm-chart

Update Chart.yaml
  infrastructure/k8s/helm-chart/momo-store/charts/secret/Chart.yaml
Due: helm-chart

Add new file
  infrastructure/k8s/helm-chart/momo-store/charts/backend/templates/secrets.yaml
Due: helm-chart

Delete Chart.yaml
  infrastructure/k8s/helm-chart/momo-store/charts/secret/Chart.yaml
Due: helm-chart

Delete secrets.yaml
  infrastructure/k8s/helm-chart/momo-store/charts/secret/templates/secrets.yaml
Due: helm-chart

Update values.yaml
  infrastructure/k8s/helm-chart/momo-store/values.yaml
Due: helm-chart

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Update Dockerfile
  backend/Dockerfile
Due: backend

Add new file
  infrastructure/k8s/helm-chart/momo-store/charts/frontend/templates/configmap.yaml
Due: helm-chart

Update configmap.yaml
  infrastructure/k8s/helm-chart/momo-store/charts/frontend/templates/configmap.yaml
Due: helm-chart

Update service.yml
  infrastructure/k8s/helm-chart/momo-store/charts/backend/templates/service.yml
Due: helm-chart

Update service.yml
  infrastructure/k8s/helm-chart/momo-store/charts/frontend/templates/service.yml
Due: helm-chart

Update deployment.yml
  infrastructure/k8s/helm-chart/momo-store/charts/frontend/templates/deployment.yml
Due: helm-chart

Add new file
  frontend/nginx.conf
Due: frontend

Update package.json
  frontend/package.json
Due: frontend

Update vue.config.js
  frontend/vue.config.js
Due: frontend

Update package-lock.json
  frontend/package-lock.json
Due: frontend

Update CartTable.vue
  frontend/src/components/cart/CartTable.vue
Due: frontend

Update CartCardRow.vue
  frontend/src/components/catalog/CartCardRow.vue
Due: frontend

Update CartIcon.vue
  frontend/src/components/navbar/CartIcon.vue
Due: frontend

Update Navbar.vue
  frontend/src/components/navbar/Navbar.vue
Due: frontend

Update ChangePassword.vue
  frontend/src/components/profile/ChangePassword.vue
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  helm-chart: any of: infrastructure/k8s/helm-chart/momo-store/**/*, infrastructure/k8s/helm-chart/.gitlab-ci.yml
