Repository siewski/store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, helm, deploy

.gitlab-ci.yml:

stages:
  - module-pipelines
  - deploy

variables:
  scanner_opt: -Dsonar.qualitygate.wait=true -Dsonar.host.url=${sonar_url} -Dsonar.login=${sonar_token}
  # Этот тест валится, а требования нет, исправлять долго
  SAST_EXCLUDED_ANALYZERS: "gosec"

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    refs:
      - testing
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    refs:
      - testing
    changes:  #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/* 

helm:
  stage: module-pipelines
  trigger:
    include:
      - "/infrastructure/k8s/helm-chart/.gitlab-ci.yml"
    strategy: depend 
  only:
    refs:
      - testing
    changes:
      - infrastructure/k8s/helm-chart/momo-store/**/*
      - infrastructure/k8s/helm-chart/.gitlab-ci.yml

deploy:
  stage: deploy
  environment:
    name: $CI_COMMIT_REF_NAME
  only:
    refs:
      - production
      - testing
    changes:
      - backend/**/*
      - frontend/**/*
      - infrastructure/k8s/helm-chart/momo-store/**/*
  script:
    - >
      export front_vers=$(grep -oP 'VERSION:.(\d+\.\d+\.\d+)' ./frontend/.gitlab-ci.yml | sed 's/VERSION:.//')
    - >
      export backend_vers=$(grep -oP 'VERSION:.(\d+\.\d+\.\d+)' ./backend/.gitlab-ci.yml | sed 's/VERSION:.//')
    - mkdir ~/.kube/
    - ln -s  $kubeconfig ~/.kube/config
    - curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
    - chmod +x kubectl
    - curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
    - echo $front_vers   $backend_vers  $fqdn_site $dockerconfigjson
    - |
      helm upgrade --install momo-store \
      --set global.dockerconfigjson=$dockerconfigjson \
      --set global.frontend.AppVersion=$front_vers \
      --set global.backend.AppVersion=$backend_vers \
      --atomic \
      --set global.frontend.fqdn=$fqdn_site \
      ./infrastructure/kubernetes/helm-chart/momo-store/

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend, deploy

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, deploy

Update .gitlab-ci.yml
  infrastructure/k8s/helm-chart/.gitlab-ci.yml
Due: helm

Update go.mod
  backend/go.mod
Due: backend, deploy

Update controller_list_dumplings.go
  backend/cmd/api/app/controller_list_dumplings.go
Due: backend, deploy

Update controller_create_order.go
  backend/cmd/api/app/controller_create_order.go
Due: backend, deploy

Update app.go
  backend/cmd/api/app/app.go
Due: backend, deploy

Update app_test.go
  backend/cmd/api/app/app_test.go
Due: backend, deploy

Update store.go
  backend/cmd/api/dependencies/store.go
Due: backend, deploy
